# Setup

In [35]:
import pandas as pd
#for model
from sklearn.tree import DecisionTreeRegressor
# for the validation
from sklearn.metrics import mean_absolute_error
# for train and test data
from sklearn.model_selection import train_test_split
# for Random Forest
from sklearn.ensemble import RandomForestRegressor

# Data

In [2]:
# we will be using the data about the house prices in Melbourne
melb_data = pd.read_csv('melb_data.csv')

In [3]:
# knowing the data
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [4]:
# exploring the columns
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
# checking for null values
melb_data.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [10]:
# dropping the null columns
melb_data = melb_data.dropna(axis=0)

In [11]:
# selecting the target variable
y = melb_data.Price

In [12]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
# we are just working with few columns only those are
melb_features = ['Rooms','Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [14]:
# turning the dataframe with those features only
melb_data = melb_data[melb_features]

In [15]:
# we call features X
X = melb_data
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [16]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

# Model

In [18]:
# defining the model
melb_model = DecisionTreeRegressor(random_state=1)

In [19]:
# fitting the model
melb_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [20]:
# printing the results
print('Making predictions for first five houses:')
print(X.head())
print('The predictions are')
print(melb_model.predict(X.head()))

Making predictions for first five houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

# Model Validation

In [23]:
# making whole prediction
predicted_y = melb_model.predict(X)

In [24]:
# Mean absolute Error
mean_absolute_error(y, predicted_y)

1115.7467183128902

# Train and Test split

In [26]:
# splitting data into train and test data
train_X, test_X, train_y, test_y = train_test_split(X,y, random_state=0)

In [27]:
# defining and fitting the model
melb_model2 = DecisionTreeRegressor()
melb_model2.fit(train_X,train_y)

DecisionTreeRegressor()

In [28]:
# predicting all the values
predicted_y = melb_model2.predict(test_X)

In [29]:
# Mean absolute Error
mean_absolute_error(test_y, predicted_y)

276700.47277813643

# Trying to minimize the error

In [33]:
# defining a function to get MAE
def get_mae(max_leaf_nodes, train_X, test_X, train_y, test_y):
    model_3 = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,
                                    random_state=0)
    model_3.fit(train_X, train_y)
    pred_y = model_3.predict(test_X)
    mae = mean_absolute_error(test_y, pred_y)
    return(mae)

In [34]:
# now comparing MAE with different max_leaf_nodes
for max_leaf_nodes in [5,50,500,5000]:
    my_mae=get_mae(max_leaf_nodes, train_X,test_X,train_y,test_y)
    print("MLN: %d \t\t MAE: %d"%(max_leaf_nodes,my_mae))

MLN: 5 		 MAE: 385696
MLN: 50 		 MAE: 279794
MLN: 500 		 MAE: 261718
MLN: 5000 		 MAE: 271996

# Random Forest

In [36]:
# for forest model
forest_model = RandomForestRegressor(random_state=1)
#fitting
forest_model.fit(train_X, train_y)

RandomForestRegressor(random_state=1)

In [37]:
#making predictions
frst_pred = forest_model.predict(test_X)

In [38]:
# mean absolute error
print(mean_absolute_error(test_y, frst_pred))

207190.6873773146